name: Java CI with Maven, SonarQube, Nexus, Tomcat

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest

    env:
      SONAR_HOST_URL: http://52.10.29.223:9000
      SONAR_TOKEN: ${{ secrets.SONARQUB_TOKIN }}
      NEXUS_USER: ${{ secrets.NEXUS.NEXUS_USER }}
      NEXUS_PASS: ${{ secrets.NEXUS.NEXUS_PASS }}
      TOMCAT_USER: ${{ secrets.TOMCAT.TOMCAT_USER }}
      TOMCAT_PASS: ${{ secrets.TOMCAT.TOMCAT_PASS }}

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Verify Environment Variables
        run: |
          echo "SONAR_HOST_URL=$SONAR_HOST_URL"
          echo "Checking if token exists..."
          if [ -z "$SONAR_TOKEN" ]; then echo "❌ SONAR_TOKEN missing"; exit 1; fi

      - name: Build with Maven and Run SonarQube Analysis
        run: mvn -B clean verify sonar:sonar \
          -Dsonar.projectKey=webapp-add \
          -Dsonar.host.url=$SONAR_HOST_URL \
          -Dsonar.login=$SONAR_TOKEN

          sshpass -p "$TOMCAT_PASS" scp -o StrictHostKeyChecking=no $ARTIFACT $TOMCAT_USER@$TOMCAT_IP:/opt/tomcat/webapps/
          echo "✅ Deployment completed!"
